.login-page {
  display: flex; 
  height: 100vh; 
  }
  
.left-section {
  background-color: #00ACF6;
  flex: 1; 
  position: relative;
  display: flex;
  }
  
.right-section {
    flex: 1; 
    background-color: #FFFFFF;
    position: relative;
  }
.container {
    position: absolute;
    top: 0;
    width: 100%;
    height:63% ;
  }
.new-div {
    position: absolute;
    width: 100%;
    height:37% ;
    bottom: 0;
    background: #00002B;
  }
  
.text{
        
  text-align: left;
  font-size: 40px;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding-left: 6%;
  font-weight: 250;
  line-height: 43px;
 }
.text2{
  text-align:left;
  color: #FFFFFF;
  padding-left: 6%;
  font-weight: 100;
}
.text3{
  padding-top: 60px;
  margin: 60px;
  text-align: center;
  /* font-weight: 700;
  font-size: 50px; */
  font-weight: 650;
  font-size: 48px;
  line-height: 50px;
}
.text4{
  text-align: center;
}
.text5{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #676B5F;
  line-height: 18px;
}
.img1 {
  width: 100%; 
  max-width: 80%;
  height: auto; 
  position: absolute;
  right: 0;
  bottom: 0;
  background: #FDFEFF;
  box-shadow: 0px 4px 20px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px 0px 0px 0px;
}
.img2{
  margin-top: 40px;
  margin-left: 6%;
}

.img3 {
  position: absolute;
  top: 26%;
  left: 9%;
}
.logo{
  max-width: 50%;
  height: auto;
  padding-right: 10px;
}
.lbl
{
  width: 400px;
  height: 50px;
  background: #ECEFF0;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  border-width: 0px;
  margin-bottom: 20px;
} 

.form-Container{
  display: flex;
  flex-direction: column;
}
input::placeholder {
  padding-left: 10px;
  color : #676B5F;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.btn {
  background: linear-gradient(270deg, #02E1B9 0%, #00ACF6 100%);
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 50px;
  margin-top: 5px;
}
.anchor{
  color:#1678FB;

}

.anchor1{
  text-align: center;
  padding-right: 260px;
  color:#1678FB;
}

.btn2{
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
  background-color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}